Source: trunkfingerprint
Section: database
Priority: optional
Maintainer: Ilya Peretyagin <ilya@brandwatch.com>
Build-Depends: debhelper (>= 9), postgresql-server-dev-all (>= 180)
Standards-Version: 3.9.8
Homepage: https://github.com/BrandwatchLtd/trunkfingerprint
Vcs-Git: git@github.com:BrandwatchLtd/trunkfingerprint.git
Vcs-Browser: https://github.com/BrandwatchLtd/trunkfingerprint

Package: postgresql-trunkfingerprint-10
Architecture: any
Depends: postgresql-10, ${shlibs:Depends}, ${misc:Depends}
Description: database structure fingerprint
 This PostgreSQL extension calculates database structure fingerprint.
 .
 This package contains the server extension for PostgreSQL 10.

Package: postgresql-trunkfingerprint-13
Architecture: any
Depends: postgresql-13, ${shlibs:Depends}, ${misc:Depends}
Description: database structure fingerprint
 This PostgreSQL extension calculates database structure fingerprint.
 .
 This package contains the server extension for PostgreSQL 13.
