Source: trunkfingerprint
Section: database
Priority: optional
Maintainer: Robert Cardell <robert.cardell@brandwatch.com>
Build-Depends: debhelper (>= 9), postgresql-server-dev-all (>= 180)
Standards-Version: 3.9.8
Homepage: https://github.com/BrandwatchLtd/trunkfingerprint
Vcs-Git: git@github.com:BrandwatchLtd/trunkfingerprint.git
Vcs-Browser: https://github.com/BrandwatchLtd/trunkfingerprint

Package: postgresql-trunkfingerprint-10
Architecture: all
Depends: postgresql-10, ${shlibs:Depends}, ${misc:Depends}
Description: database structure fingerprint
 This PostgreSQL extension calculates a database structure fingerprint.
 .
 This package contains the server extension for PostgreSQL 10.

Package: postgresql-trunkfingerprint-11
Architecture: all
Depends: postgresql-11, ${shlibs:Depends}, ${misc:Depends}
Description: database structure fingerprint
 This PostgreSQL extension calculates a database structure fingerprint.
 .
 This package contains the server extension for PostgreSQL 11.

Package: postgresql-trunkfingerprint-12
Architecture: all
Depends: postgresql-12, ${shlibs:Depends}, ${misc:Depends}
Description: database structure fingerprint
 This PostgreSQL extension calculates a database structure fingerprint.
 .
 This package contains the server extension for PostgreSQL 12.

Package: postgresql-trunkfingerprint-13
Architecture: all
Depends: postgresql-13, ${shlibs:Depends}, ${misc:Depends}
Description: database structure fingerprint
 This PostgreSQL extension calculates a database structure fingerprint.
 .
 This package contains the server extension for PostgreSQL 13.

Package: postgresql-trunkfingerprint-14
Architecture: all
Depends: postgresql-14, ${shlibs:Depends}, ${misc:Depends}
Description: database structure fingerprint
 This PostgreSQL extension calculates a database structure fingerprint.
 .
 This package contains the server extension for PostgreSQL 14.

Package: postgresql-trunkfingerprint-15
Architecture: all
Depends: postgresql-15, ${shlibs:Depends}, ${misc:Depends}
Description: database structure fingerprint
 This PostgreSQL extension calculates a database structure fingerprint.
 .
 This package contains the server extension for PostgreSQL 15.
